.contact {
  display: flex;
  margin-left: auto;
@media screen and(min-width: 768px) and(max-width: 1200px){

  flex-direction: column;


}
  &__link {
    @extend %link;
    display: inline-flex;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
 
    color: $second-text-color;
    margin: 0;
    transition: $cubic;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and(min-width: 768px) and(max-width: 1200px){
    &:first-child{
      padding-top: 19px;
    }
    &:not(:first-child){
      margin-top: 10px;
      padding-bottom: 21px;
    }
  }
    @media screen and(min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      &:not(:first-child) {
        margin-left: 50px;
      }
    }
  }

  &__icon {
    margin-right: 8px;
  }
}
