.contact {
  @media screen and(max-width: 767px) {
    display: flex;
    justify-content: space-evenly;
  }

  @media screen and(min-width:768px) {
    display: flex;
    margin-left: auto;
  }

  @media screen and(min-width: 768px) and(max-width: 1200px) {
    flex-direction: column;
  }
  &__link {
    // общие стили
    @extend %link;
    color: $second-text-color;
    transition: $cubic;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    // общие стили

    // стили для мобаил
    @media screen and(max-width:767px) {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      transition: $cubic;
      // & + & {
      //   margin-top: 32px;
      // }
      &:hover,
      &:focus {
        font-size: 34px;
      }
    }
    // стили для мобаил

    // стили от планшета
    @media screen and(min-width:768px) {
      display: inline-flex;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      margin: 0;
    }
    // стили от планшета

    // позиционирование
    @media screen and(min-width: 768px) and(max-width: 1200px) {
      &:first-child {
        padding-top: 19px;
      }
      &:not(:first-child) {
        margin-top: 10px;
        padding-bottom: 21px;
      }
    }
    @media screen and(min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      &:not(:first-child) {
        margin-left: 50px;
      }
    }
    // позиционирование
  }

  &__icon {
    @media screen and(max-width:767px) {
      display: none;
    }
    margin-right: 8px;
  }
}

// линки для меню
.menu-list {
  @extend %list;
  display: flex;
  // margin-top: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and(max-width:423px) {
    flex-wrap: wrap;
  }
  @media screen and(min-width:424px) and (max-width: 767px) {
    justify-content: center;
  }
  &__item {
    position: relative;
    @media screen and(max-width:423px){
      display: flex;
      flex-basis: calc((100% - 20px) / 2);
      &:nth-child(odd){
        margin-right: 20px;
      }
      &:nth-child(-n + 2){
        margin-bottom: 20px;
      }
      &:nth-child(-n + 2)::before{
        content: '';
        position: absolute;
        left: -15px;
        bottom: -10px;
        display: block;
        height: 1px;
        width: 110px;
        background-color: $form-input-border
      }
    }

    @media screen and(min-width:424px) and (max-width: 767px) {
      & + & {
        margin-left: 20px;
      }
      &:not(:first-child)::before {
        content: '';
        position: absolute;
        left: -10px;

        display: block;
        height: 100%;
        width: 1px;
        background-color: $form-input-border;
      }
    }
  }
  &__link {
    @extend %link;
    display: inline-flex;
    // padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: $accent-color;
  }
}
